@import "bourbon";
@import "font-awesome";



.container{
	background-color: #ECB523;
	font-family: 'Candal', sans-serif;
	margin-top: 0;
	width: 100%;
}

/**********************Select Character content Styling ******************/
.selected {
	border: 3px solid red;
}

.mainScreen {
	.upperPart{
		height: 500px;
	}

	.title{
		text-align: center;
		font-size: 200px;
	}

	.bios {
		max-width: 100%;
		div{
			display: inline-block;
			width: 97px;
			height: 130px;
			background-color: white;
			border-radius: 3px;
			margin: 2% 2%;
			text-align: center;
			line-height: 30px;
			color: #1A3578;
		}
	}

	.border{
		border: 1px solid black;
	}

	.names{
		max-width: 100%;
		div{
			display: inline-block;
			width: 97px;
			height: 30px;
			margin: 2% 2.1%;
			text-align: center;
			color: black;
			margin-top: 0;
		}
	}

	.lowerPart{
		height: 150px;
		background-color: #B88C16;
		margin-bottom: 0;
		font-size: 75px;
		text-align: center;
		padding-top: 20px;
	}
}

/*****************************Battle Screen Styling **************************/
.battleScreen{
	width: 100%;
	height: 700px;
	background-color: #263238;
}

.header div{
	display: inline-block;
	p{
		padding: 2px 0 0 5px;
		margin-top: 0;
		margin-bottom: 5px;
	}

}

.playerOneHealth{
	border: 1px solid red;
	width: 20%;
	height: 50px;
	margin-left: 2%;
	margin-bottom: 10px;
	.healthBar{
		margin-left: 5px;
		height: 15px;
		width: 95%;
		border: 1px solid red;
		background-color: green;
	}
}

.centerLogo{
	border: 1px solid red;
	width: 25%;
	height: 100px;
	margin: 10px 15%;
}

.playerTwoHealth{
	border: 1px solid red;
	width: 20%;
	height: 50px;
	margin-bottom: 10px;
	p{
		margin-left: 135px;
	}
	.healthBar{
		margin-left: 5px;
		height: 15px;
		width: 95%;
		border: 1px solid red;
		background-color: green;
	}
}

.leftSide{
	width: 25%;
	height: 500px;
	border: 1px solid red;
	float: left;
	.playerOne{
		width: 95%;
		height: 300px;
		border: 1px solid blue;
		margin: 5px;
	}
}

.rightSide{
	width: 25%;
	height: 500px;
	border: 1px solid red;
	float: right;
	.playerTwo{
		width: 95%;
		height: 300px;
		border: 1px solid blue;
		margin: 5px;
	}
}

.attackOptions {
	width: 95%;
	height: 175px;
	border: 1px solid blue;
	margin: 5px;
	button{
		margin: 25px 27px;
	}
		
}

























