@import "bourbon";
@import "font-awesome";


.selected {
	border: 3px solid red;

}

.container{
	background-color: #ECB523;
	font-family: 'Candal', sans-serif;
	margin-top: 0;
	width: 100%;
}

.mainScreen {
	.upperPart{
		height: 500px;
	}

	.title{
		text-align: center;
		font-size: 200px;
	}

	.bios {
		max-width: 100%;
		div{
			display: inline-block;
			width: 97px;
			height: 130px;
			background-color: white;
			border-radius: 3px;
			margin: 2% 2%;
			text-align: center;
			line-height: 30px;
			color: #1A3578;
		}
	}

	.border{
		border: 1px solid black;
	}

	.names{
		max-width: 100%;
		div{
			display: inline-block;
			width: 97px;
			height: 30px;
			margin: 2% 2.1%;
			text-align: center;
			color: black;
			margin-top: 0;
		}
	}

	.lowerPart{
		height: 150px;
		background-color: #B88C16;
		margin-bottom: 0;
		font-size: 75px;
		text-align: center;
		padding-top: 20px;
	}
}
